subject = "Spammer reported '{{ member.username }}'"
==
Dear Moderator,

{{ otherMember.username }} has just reported a forum member to be a spammer. Please verify that this is true and consider banning the offending user.

The offender is:
{{ member.username }}

You can view their profile at:
{{ memberUrl }}

This message has been sent to all forum moderators.

==

<p>Dear Moderator,</p>

<p>{{ otherMember.username }} has just reported a forum member to be a spammer. Please verify that this is true and consider banning the offending user.</p>

<p>
    The offender is:<br />
    <strong>{{ member.username }}</strong>
</p>

<p>
    You can view their profile at:<br />
    <a href="{{ memberUrl }}">{{ memberUrl }}</a>
</p>

<p>This message has been sent to all forum moderators.</p>

<p><strong>Incident reported by</strong></p>

<pre>
    Name: {{ otherMember.user.name }}
    Email: {{ otherMember.user.email }}
    Forum Username: {{ otherMember.username }}
    Forum Profile: {{ otherMemberUrl  }}
</pre>