<tr class="forum-post-title">
    <th class="post-column">
        <a href="#post-{{ post.id }}" class="post-anchor">#</a>
        <em class="post-timesince">{{ post.created_at.diffForHumans }}</em>
        {% if post.canEdit and mode != 'edit' and mode != 'delete' %}
            <a href="javascript:;"
                class="post-edit"
                data-request="onUpdate"
                data-request-data="post: {{ post.id }}"
                data-request-update="'{{ __SELF__ ~ '::post' }}': '#post-{{ post.id }}'">
                Edit post
            </a>
        {% elseif mode == 'edit' %}
            <a href="javascript:;"
                class="post-delete"
                data-request="{{ __SELF__ }}::onUpdate"
                data-request-data="post: {{ post.id }}, mode: 'view'"
                data-request-update="'{{ __SELF__ }}::post': '#post-{{ post.id }}'">
                Cancel
            </a>
        {% endif %}
    </th>
    <th class="member-column">
        <a href="{{ memberPage|page({ (memberPageIdParam): post.member.slug }) }}">
            {{ post.member.username }}
        </a>
    </th>
</tr>
<tr class="forum-post">
    <td class="post-column">
        <div class="post-content">
            {% if mode == 'edit' %}
                {{ form_ajax('onUpdate', {
                    update: { (__SELF__ ~ '::post'): '#post-' ~ post.id }
                }) }}
                    <textarea
                        rows="5"
                        name="content"
                        class="form-control"
                        >{{ post.content }}</textarea>

                    <div class="form-group">
                        <button
                            type="submit"
                            class="btn btn-primary btn-sm">Save</button>
                        <button
                            type="button"
                            data-request="{{ __SELF__ }}::onUpdate"
                            data-request-data="post: {{ post.id }}, mode: 'delete'"
                            data-request-update="'{{ __SELF__ }}::post': '#post-{{ post.id }}'"
                            data-request-confirm="Are you sure?"
                            class="btn btn-danger btn-sm">Delete</button>
                    </div>

                    <input type="hidden" name="mode" value="save" />
                    <input type="hidden" name="post" value="{{ post.id }}" />
                {{ form_close() }}

            {% elseif mode == 'delete' %}
                <p><em>Post has been deleted</em></p>
            {% else %}
                {{ post.content_html|raw }}
            {% endif %}
        </div>
    </td>
    <td class="member-column">
        {% partial __SELF__ ~ "::member" member=post.member %}
    </td>
</tr>