<div class="control-pagination">
    <span class="page-iteration"><?= $pageFrom ?>-<?= $pageTo ?> of <?= $recordTotal ?></span>
    <?php if ($pageCurrent > 1): ?>
        <a
            href="javascript:;"
            class="page-back"
            data-request="onPaginate"
            data-request-data="page: <?= $pageCurrent-1 ?>"
            title="Previous page"></a>
    <?php else: ?>
        <span class="page-back"></span>
    <?php endif ?>
    <?php if ($pageLast > $pageCurrent): ?>
    <a
        href="javascript:;"
        class="page-next"
        data-request-data="page: <?= $pageCurrent+1 ?>"
        data-request="onPaginate"
        title="Next page"></a>
    <?php else: ?>
        <span class="page-next"></span>
    <?php endif ?>
</div>
