<form data-request="onUpdate">

    <div class="form-group">
        <label for="memberUsername">Username</label>
        <input name="username" type="text" class="form-control" id="memberUsername" value="{{ member.username }}">
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label for="userPreferenceTopicReply">
                <input name="UserPreference[forum_notify_replies]" type="hidden" value="0" />
                <input
                    id="userPreferenceTopicReply"
                    name="UserPreference[forum_notify_replies]"
                    {{ sendNotifications ? 'checked' }}
                    type="checkbox"
                    value="1" />
                Notify me about replies to topics I am watching
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-default">
        Save
    </button>
</form>
