<div class="rainlab-forum">

    <table class="forum-table">
        {% for channel in channels %}

            <tr class="root-channel">
                <th colspan="2">
                    {{ channel.title }}
                </th>
                <th class="counter-column">Topics</th>
                <th class="counter-column">Posts</th>
                <th class="activity-column">Last post</th>
            </tr>

            {% if channel.relations.children %}

                {% for channel in channel.children %}

                    <tr class="forum-channel">
                        <td class="indicator-column">
                            <div class="topic-indicator with-new"></div>
                        </td>
                        <td>
                            <h5>
                                <a href="{{ forumLink.channel|page({ slug: channel.slug }) }}">
                                    {{ channel.title }}
                                </a>
                            </h5>
                            <p>{{ channel.description }}</p>

                            {% if channel.relations.children %}
                                <div class="forum-subchannel">
                                    <ul>
                                        <li><span>Subforum</span></li>
                                        {% for channel in channel.children %}
                                            <li>
                                                <a href="{{ forumLink.channel|page({ slug: channel.slug }) }}" title="{{ channel.description }}">
                                                    {{ channel.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                        <td class="counter-column">
                            <p>{{ channel.count_topics }}</p>
                        </td>
                        <td class="counter-column">
                            <p>{{ channel.count_posts }}</p>
                        </td>
                        <td class="activity-column">
                            {% if channel.firstTopic %}
                                <a href="{{ forumLink.member|page({ username: topic.slug }) }}">Username</a>
                                posted
                                <a href="#">{{ channel.firstTopic.last_post_at.diffForHumans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="100"><p>There are no channels to show.</p></td>
                </tr>
            {% endif %}

        {% endfor %}
    </table>
</div>