<table class="table">
    {% for channel in channels %}

        <tr>
            <th colspan="2">
                <a href="{{ forumLink.channel|page({ slug: channel.slug }) }}" title="{{ channel.description }}">
                    {{ channel.title }}
                </a>
            </th>
            <th>Topics</th>
            <th>Posts</th>
            <th>Last post</th>
        </tr>

        {% if channel.relations.children %}

            {% for channel in channel.children %}

                <tr>
                    <td>
                        <img src="http://placehold.it/32x32" alt="" class="pull-left" />
                    </td>
                    <td>
                        <h5>
                            <a href="{{ forumLink.channel|page({ slug: channel.slug }) }}">
                                {{ channel.title }}
                            </a>
                        </h5>
                        <p>{{ channel.description }}</p>

                        {% if channel.relations.children %}
                            <ul class="list-inline">
                                <li><em>Subforum</em></li>
                                {% for channel in channel.children %}
                                    <li>
                                        <a href="{{ forumLink.channel|page({ slug: channel.slug }) }}" title="{{ channel.description }}">
                                            {{ channel.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{{ channel.count_topics }}</td>
                    <td>{{ channel.count_posts }}</td>
                    <td>
                        {% if channel.firstTopic %}
                            <a href="{{ forumLink.member|page({ username: topic.slug }) }}">Username</a>
                            posted
                            <a href="#">{{ channel.firstTopic.last_post_at.diffForHumans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="100"><p>There are no channels to show.</p></td>
            </tr>
        {% endif %}

    {% endfor %}
</table>
