
<table class="table">
    {% for channel in channels %}

        <tr>
            <th colspan="2">{{ channel.title }}</th>
            <th>Topics</th>
            <th>Posts</th>
            <th>Last post</th>
        </tr>

        {% if channel.children.count %}

            {% for channel in channel.children %}

                <tr>
                    <td>
                        <img src="http://placehold.it/32x32" alt="" class="pull-left" />
                    </td>
                    <td>
                        <h5><a href="#channel">{{ channel.title }}</a></h5>
                        <p>{{ channel.description }}</p>

                        {% if channel.children.count %}
                            <ul class="list-inline">
                                <li><em>Subforum</em></li>
                                {% for channel in channel.children %}
                                    <li><a href="#">{{ channel.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{{ channel.count_topics }}</td>
                    <td>{{ channel.count_posts }}</td>
                    <td>
                        <a href="#profile">Username</a> posted <a href="#post">5 hours ago</a>
                    </td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="100"><p>There are no channels to show.</p></td>
            </tr>
        {% endif %}

    {% endfor %}
</table>
